body{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}
/* title  */
#title{
    padding: 3%;
    padding-top: 1%;
}

/* navbar  */
.navbar{
    margin-left: 3%;
    margin-right: 3%;
    font-family: 'Michroma', sans-serif;
}

.navbar-brand{
    color: rgb(81, 81, 251);
}

.nav-item{
    margin-right: 50px;
}

.nav-link:hover{
    color:rgb(81, 81, 251);
}

/* title content */

#title .column-1 h1{
    font-size: 9rem;
    text-align: start;
}

#title .btn{
    height: 3rem;
    width: 7rem;
    border: 2px solid rgb(81, 81, 251);
    color: black;
    border-radius: 0;
    margin-bottom: 20px ;
}
#title ins{
    color: rgb(81, 81, 251);
}

#title .btn:hover{
    opacity: 0.5;
}
.man-img{
    position: absolute;
    top: 10rem;
}

/* features */

#features{
    position: relative;
    padding: 15%;
    background-color: rgb(81, 81, 251);
    z-index: 1;
}
#features .content{
    background-color: white;
    box-shadow: 2px 2px 2px;
    border-radius: 10px;
    padding: 10%;
}

/* footer  */

footer {
    padding: 5%;
}


@media screen and (max-width : 990px){
    #title .column-1 h1{
        text-align: center;
    }
    .man-img{
        position: static;
    }
    #features .content{
        margin-top: 20px;
    }

}